/*

STYLE GUIDE
## Layout
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy
- Font-size: 18px;

font-family: 'Public Sans', sans-serif;
font-weights: 300, 500, 700

*/

/* 
///////////////////////////////////////
Table of Contents:

#Format
#Header
#Hero
#Intro
#Services
#Footer
#MobileNav
#Media Queries

///////////////////////////////////////
*/

/* ###############Format################# */
/* ### Font */
body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  color: hsl(233, 26%, 24%);
  line-height: 110%;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.1rem;
}

.description {
  color: hsl(0, 0%, 60%);
  line-height: 150%;
  letter-spacing: -0.5px;
  margin-bottom: 35px;
}

.title--section {
  text-align: center;
}

/* ### Layout */
section {
  padding: 75px 25px;
}

/* ####################Header####################### */
.header__banner {
  height: 60px;
  background-color: white;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header__nav__bar {
  height: 1.5px;
  width: 25px;
  background: black;
  margin: 5px 0 5px 0;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

.hamburger__middle--open {
  transform: translateY(-50px) rotate(720deg);
  overflow: hidden;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

.hamburger__top--open {
  transform: rotate(45deg) translate(2px, 7px);
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

.hamburger__bottom--open {
  transform: rotate(-45deg) translate(2px, -7px);
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

/* #####################Hero####################### */
.hero__img {
  background: url("images/bg-intro-mobile.svg") no-repeat;
  height: 363px;
  width: 100%;
  z-index: -1;
  position: relative;
  margin-bottom: -100px;
}

.hero__img--overlay {
  width: 350px;
  margin: -60px auto 0;
  position: relative;
  top: -62px;
}

/* ###############Intro################# */
.intro {
  padding-bottom: 100px;
}

.intro__info {
  text-align: center;
}

.btn__requestinvite {
  padding: .7rem 2rem;
  border: solid 2px hsl(192, 70%, 51%);
  border-radius: 25px;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  font-weight: bold;
  letter-spacing: -.2px;
  color: white;
  font-size: .9rem;
}

.btn__requestinvite:hover {
  filter: brightness(130%) saturate(35%);
  cursor: pointer;
}

.title--intro {
  text-align: center;
  margin-top: 40px;
}

.description--intro {
  text-align: center;
}

/* #####################Services####################### */
.services {
  background-color: hsl(0, 0%, 97%);
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__item--img {
  margin-bottom: 25px;
}

.title--service {
  text-align: center;
}

.description--service {
  text-align: center;
}

/* ###################Articles###################### */
.articles {
  background:hsl(0, 0%, 98%)
}

.articles__item {
  background-color: white;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.articles__title {
  margin-bottom: 40px;
}

.articles__img {
  border-radius: 5px 5px 0 0;
}

.description--article, .title--article {
  padding: 0 25px;
  line-height: 120%;
}

.description--article {
  font-size: .9rem;
}

.article__author {
  font-size: .6rem;
  padding-top: 20px;
  margin: 0 0 10px 0;
}

/* #####################Footer####################### */
footer {
  background: #2D314D;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  margin-top: 30px;
}

.footer__social {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social Media Links */
.footer__img:hover {
  filter: invert(45%) sepia(67%) saturate(2182%) hue-rotate(88deg) brightness(78%) contrast(121%);
}

/* Nav Links */
.footer__nav__links {
  color: white;
  text-decoration: none;
  font-size: .8rem;
  margin-bottom: 15px;
}

.footer__nav__links:visited {
  color: white;
}

.links:hover {
  color:hsl(136, 62%, 42%);
  cursor: pointer;
}

/* Invite button */
.btn__requestinvite.footer__item {
  margin-top: 25px;
}

/* Copyright */
.footer__copyright {
  margin: 30px 0 30px 0;
}

/* ##################MobileNav##################### */
.navmenu--mobile {
  position: absolute;
  height: 275px;
  width: 90%;
  background-color: white;
  border: solid 1px black;
  left: 5%;
  top: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  animation-name: FadeIn;
  animation-duration: .5s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden-menu {
  display: none;
}

.mobile--links {
  margin-top: 30px;
}

/* ##################Media Queries##################### */
.desktop {
  display: none;
}

.hidden {
  display: none;
}