/*

STYLE GUIDE
## Layout
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy
- Font-size: 18px;

font-family: 'Public Sans', sans-serif;
font-weights: 300, 500, 700

*/

/* 
///////////////////////////////////////
Table of Contents:

#Format
#Header
#Hero
#Intro
#Services
#Footer
#MobileNav
#Media Queries

///////////////////////////////////////
*/

/* ###############Format################# */
/* ### Font */
body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  color: hsl(233, 26%, 24%);
  line-height: 110%;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.1rem;
}

.description {
  color: hsl(0, 0%, 60%);
  line-height: 150%;
  letter-spacing: -0.5px;
  margin-bottom: 35px;
}

.title--section {
  text-align: center;
}

/* ### Layout */
body {
  background-color:hsl(0, 0%, 98%)
}

section {
  padding: 75px 25px;
}

/* ####################Header####################### */
.header__banner {
  height: 60px;
  background-color: white;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header__nav__bar {
  height: 1.5px;
  width: 25px;
  background: black;
  margin: 5px 0 5px 0;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

.hamburger__middle--open {
  transform: translateY(-50px) rotate(720deg);
  overflow: hidden;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

.hamburger__top--open {
  transform: rotate(45deg) translate(2px, 7px);
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

.hamburger__bottom--open {
  transform: rotate(-45deg) translate(2px, -7px);
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

/* #####################Hero####################### */
.hero__img {
  background-image: url("images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  height: 363px;
  width: 99vw;
  z-index: -1;
  position: relative;
  top: -75px;
  margin: 0 0 -100px -20px;
}

.hero__img--overlay {
  width: 330px;
  margin: -60px auto 0;
  position: relative;
  top: -62px;
}

/* ###############Intro################# */
.intro {
  padding-bottom: 100px;
}

.intro__info {
  text-align: center;
}

.btn__requestinvite {
  padding: .7rem 2rem;
  border: solid 2px hsl(192, 70%, 51%);
  border-radius: 25px;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  font-weight: bold;
  letter-spacing: -.2px;
  color: white;
  font-size: .9rem;
}

.btn__requestinvite:hover {
  filter: brightness(130%) saturate(35%);
  cursor: pointer;
}

.title--intro {
  text-align: center;
  margin-top: 40px;
}

.description--intro {
  text-align: center;
}

/* #####################Services####################### */
.services {
  background-color: hsl(0, 0%, 97%);
}

.service__item--img {
  margin-bottom: 25px;
}

.title--service {
  text-align: center;
}

.description--service {
  text-align: center;
}

/* ###################Articles###################### */
.articles {
  background:hsl(0, 0%, 98%)
}

.articles__item {
  background-color: white;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.articles__title {
  margin-bottom: 40px;
}

.articles__img {
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
}

.description--article, .title--article {
  padding: 0 25px;
  line-height: 120%;
}

.description--article {
  font-size: .9rem;
}

.article__author {
  font-size: .6rem;
  padding-top: 20px;
  margin: 0 0 10px 0;
}

/* #####################Footer####################### */
footer {
  background: #2D314D;
  width: 100%;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Social Media Links */
.footer__img:hover {
  filter: invert(45%) sepia(67%) saturate(2182%) hue-rotate(88deg) brightness(78%) contrast(121%);
}

/* Nav Links */
.footer__nav__links {
  color: white;
  text-decoration: none;
  font-size: .8rem;
  margin-bottom: 15px;
}

.footer__nav__links:visited {
  color: white;
}

.links:hover {
  color:hsl(136, 62%, 42%);
  cursor: pointer;
}

/* ##################MobileNav##################### */
.navmenu--mobile {
  position: absolute;
  height: 275px;
  width: 90%;
  background-color: white;
  border: solid 1px black;
  left: 5%;
  top: 11%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  animation-name: FadeIn;
  animation-duration: .5s;
  transition: display .5s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden-menu {
  display: none;
}

.mobile--links {
  margin-top: 30px;
}

/* ##################Media Queries##################### */
.hidden {
  display: none;
}

/* Mobile Menu Background Blur */
.background {
  filter: blur(2px) brightness(.8) grayscale(60%);
}

.header__banner {
  transition: filter .3s;
}

.hero {
  transition: filter .3s;
}

.intro__info {
  transition: filter .3s;
}

.footer__container {
  transition: filter .3s;
}

.services {
  transition: filter .3s;
}

.articles {
  transition: filter .3s;
}

@media only screen and (max-width: 749.9px) {
  .desktop {
    display: none;
  }

  .service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ##### FOOTER ###### */
  .footer__item {
    margin-top: 30px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Invite button */
  .footer__invite-copy {
    display: flex;
    flex-direction: column;
  }

  .btn__requestinvite.footer__item {
    margin-top: 25px;
  }

  /* Copyright */
  .footer__copyright {
    margin: 30px 0 30px 0;
  }
}

@media only screen and (min-width: 750px) {
  /* ##### FORMAT ###### */
  .description, .title {
    text-align: left;
  }

  .mobile {
    display: none;
  }

  section {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* ##### HEADER ##### */
  .header__banner {
    font-size: .8rem;
    justify-content: space-between;
  }

  .header__img {
    margin-left: 2vw;
  }

  .btn__requestinvite.desktop {
    margin-right: 2vw;
  }

  .header__navmenu--desktop {
    display: flex;
    justify-content: space-between;
    color:hsl(0, 0%, 60%)
  }

  .header__nav--spacer {
    margin-right: 25px;
  }

  .header__nav__links {
    color:hsl(0, 0%, 60%);
    text-decoration: none;
    margin-top: 25px;
    padding-bottom: 19px;
    border-bottom: 3px solid white;
  }

  .header__nav__links:hover {
    border-bottom: 3px solid hsl(136, 65%, 51%);
  }

  /* ##### INTRO ##### */
  .intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .hero__img {
    background: url("images/bg-intro-desktop.svg") no-repeat;
    height: 600px;
    width: 100%;
    z-index: -1;
    background-position: 0 60%;
    left: 100px;
    padding: 0;
  }

  .hero__img--overlay {
    transform: scale(1.6);
    height: 400px;
    width: 300px;
    position: absolute;
    right: 90px;
    top: 100px;
  }

  .overlay__img {
    object-fit: cover;
    object-position: -20% 50%;
  }

  .intro__info {
    width: 50%;
    text-align: left;
  }

  /* ##### SERVICES ##### */
  .services__title {
    width: 50%;
  }

  .services__provided {
    display: flex;
    justify-content: space-evenly;
  }

  .service__item {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 30px;
  }

  .service__item__end {
    padding-right: 0;
  }

  /* ##### ARTICLES ##### */
  .articles__container {
    display: flex;
  }

  .articles__item {
    margin-right: 2vw;
  }

  .articles__item__end {
    margin-right: 0;
  }

  .articles__img {
    border-radius: 4px;
    height: 14vw;
    object-fit: cover;
  }

  /* ##### FOOTER ##### */
  .footer__container {
    margin: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__nav2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
  }

  .footer__invite-copy {
    position: relative;
    left: 50px;
  }

  .footer__copyright {
    margin: 40px 0 0 0;
  }

  .btn__requestinvite.footer__item {
    margin-left: 60px;
    /* margin-bottom: 40px; */
  }
}

@media only screen and (min-width: 1000px) {
  .header__img {
    margin-left: 5vw;
  }

  .btn__requestinvite.desktop {
    margin-right: 5vw;
  }
}